<footer class="mt-5">
  <div class="susc">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 ">
          <h3>NEWSLETTERS</h3>
          <div class="input-group mb-3 ">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">SUSCRIBIRME</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 pb-4">
          <img src="../assets/images/logo.png" width="100%" alt="">
        </div>
        <div class="col-md-4 redes_f">
          <h2>CONTACT US</h2>
            <a href=""><span><i class="fab fa-facebook-square"></i></span> greenHeadwayInternational</a><br>
            <a href=""><span><i class="fab fa-whatsapp"></i></span> +584127737828</a><br>
            <a href=""><span><i class="fas fa-envelope"></i></span> email@gmail.com</a><br>
        </div>
        <div class="col-md-4">
          <h2>QUIK LINKS</h2>
        </div>
      </div>
      <p class="small cp text-right m-0 p-0">Todos los derechos reservados copyright 2019</p>
    </div>


  </div>
</footer>