.susc {
    background: #EEEEEE;
    padding: 2% 0;
}

.footer {
    background: #338E31;
    padding-top: 4%;
    padding-bottom: 2%;
    background-image: linear-gradient(90deg, #338E31, #80F052);
}